In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_pickle('./projects.pkl')

In [3]:
df.shape

(1110017, 18)

In [4]:
df_1618 = df[(df['Project Posted Date'] > '2016-01-01') & (df['Project Posted Date'] < '2018-12-31')]
df_1618 = df_1618.reset_index()
df_1618.shape

(646531, 19)

In [5]:
# df_1618.to_pickle("./projects_16_18.pkl")

Target features: [2016-2018]
```
Project Essay 
   (length, ?/!, precise numbers)
Project Subject Subcategory Tree
Project Resource Category
Project Cost
Project Valid Time (Expiration Date - Posted Date)
Teacher Project Posted Sequence
```

In [6]:
df.columns

Index(['Project ID', 'School ID', 'Teacher ID',
       'Teacher Project Posted Sequence', 'Project Type', 'Project Title',
       'Project Essay', 'Project Short Description', 'Project Need Statement',
       'Project Subject Category Tree', 'Project Subject Subcategory Tree',
       'Project Grade Level Category', 'Project Resource Category',
       'Project Cost', 'Project Posted Date', 'Project Expiration Date',
       'Project Current Status', 'Project Fully Funded Date'],
      dtype='object')

In [7]:
import re
regex_sanitize = re.compile(r"(<!--DONOTREMOVEESSAYDIVIDER-->)")
df_1618['Project Essay Cleaned'] = df_1618['Project Essay'].str.replace(regex_sanitize, '')

In [8]:
df_1618['X_essay_len'] = df_1618['Project Essay Cleaned'].str.len()

In [9]:
df_1618['X_essay_?!'] = df_1618['Project Essay Cleaned'].str.count('\\?') + df_1618['Project Essay Cleaned'].str.count('\\!')

In [10]:
df_1618['X_essay_?!'].unique()

array([ 0,  1,  4,  2,  5,  8,  3,  7, 10,  6,  9, 12, 14, 11, 21, 13, 22,
       15, 25, 24, 16, 18, 20, 19, 17, 23, 26, 29, 31, 32, 30])

In [11]:
english_numbers = ["One", "Two", "Three", "Four", "Five", \
                   "Six", "Seven", "Eight", "Nine", "Ten", \
                   "Eleven", "Twelve", "Thirteen", "Fourteen", "Fifteen", \
                   "Sixteen", "Seventeen", "Eighteen", "Nineteen", "Twenty", \
                   "Thirty", "Forty", "Fifty", "Sixty", "Seventy", "Eighty", "Ninety", \
                   "Thousand", "Million", "Billion"]

In [12]:
regex_numbers = re.compile("(\d|(" + "|".join(map(re.escape, english_numbers)) + "))")

In [13]:
df_1618['X_essay_numbers'] = df_1618['Project Essay Cleaned'].str.count(regex_numbers)

In [14]:
df_1618['X_essay_numbers'][0:20]

0     1
1     0
2     0
3     0
4     4
5     9
6     8
7     4
8     5
9     4
10    5
11    8
12    3
13    3
14    0
15    2
16    9
17    3
18    0
19    5
Name: X_essay_numbers, dtype: int64

In [15]:
# df_1618.to_pickle("./projects_16_18_with_essay_features.pkl")

In [16]:
# df_1618 = pd.read_pickle("./projects_16_18_essay_features.pkl")

In [19]:
df_1618.head()

,index,Project ID,School ID,Teacher ID,Teacher Project Posted Sequence,Project Type,Project Title,Project Essay,Project Short Description,Project Need Statement,...,Project Resource Category,Project Cost,Project Posted Date,Project Expiration Date,Project Current Status,Project Fully Funded Date,Project Essay Cleaned,X_essay_len,X_essay_?!,X_essay_numbers
0,463486,2d36bc7bb0e06fa27584712947b1e1ed,804169121f2cdb3bda4665e58a03e3ae,07199b6a5217c4f85582f9cbbfbd65b4,1,Teacher-Led,A Hungry Stomach Cannot Hear,“A hungry stomach cannot hear” This quote by J...,"""A hungry stomach cannot hear"" This quote by J...","My students need snacks such as Cheetos, anima...",...,Other,509.89,2016-01-02,2016-05-01,Fully Funded,2016-01-07,“A hungry stomach cannot hear” This quote by J...,1170,0,1
1,463487,9e9172005e36c8ca6cf85839022cc430,e616411ce0b0adcb07f917a6fa77cb6b,f24527c2f0fa1326a60fd57e1956bc4a,16,Teacher-Led,Storage For Our Awesome Books!,"""I have always imagined that paradise will be ...","""I have always imagined that paradise will be ...",My students need a mobile storage cart and boo...,...,Supplies,284.27,2016-01-02,2016-04-30,Expired,NaN,"""I have always imagined that paradise will be ...",1277,0,0
2,463488,abce71a45bb063e40fba669d01d22c29,e292eb8cc227208fe22952bdbaa27963,6256f3cb5c44aa6ab76fbf3b0b37327d,5,Teacher-Led,We're All Ears for a Listening Center,After listening to a read aloud read by the te...,After listening to a read aloud read by the te...,My students need a listening center and books ...,...,Books,272.92,2016-01-02,2016-05-01,Fully Funded,2016-03-10,After listening to a read aloud read by the te...,2075,0,0
3,463489,7150253bfc78d79c2b483ff16e2a552a,bc0a0fa6f51793c1b2d5e72925d2d338,eeb3e0cea9a637a186b539bbd00f6f45,2,Teacher-Led,Books for Our SOARING Library,Some of my students have not yet discovered bo...,Some of my students have not yet discovered bo...,My students need a rug and more storage to dis...,...,Books,189.76,2016-01-02,2016-04-30,Fully Funded,2016-01-14,Some of my students have not yet discovered bo...,1259,0,0
4,463490,366c36725e9e7607b5c5e5c0eb7126b7,50a01f5346ae59dbaff4768946749f6b,be8786b4a0f56e8beb28c5aa7409ba29,9,Teacher-Led,Bluford High Books: Making Connections with Books,My students - especially my girls - have been ...,My students - especially my girls - have been ...,My students need copies of the Bluford High bo...,...,Books,174.60,2016-01-02,2016-05-01,Fully Funded,2016-03-09,My students - especially my girls - have been ...,1628,1,4

In [20]:
df_1618_features_only = df_1618.filter(['Project ID', 'Project Current Status', 'X_essay_len', 'X_essay_?!', 'X_essay_numbers'], axis=1)

In [21]:
df_1618_features_only.to_pickle("./projects_16_18_essay_features_only.pkl")