In [2]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_pickle('./projects.pkl')

In [14]:
df.shape

(1110017, 18)

In [15]:
df_1618 = df[(df['Project Posted Date'] > '2016-01-01') & (df['Project Posted Date'] < '2018-12-31')]
df_1618 = df_1618.reset_index()
df_1618.shape

(646531, 18)

In [31]:
# df_1618.to_pickle("./projects_16_18.pkl")

Target features: [2016-2018]
```
Project Essay 
   (length, ?/!, precise numbers)
Project Subject Subcategory Tree
Project Resource Category
Project Cost
Project Valid Time (Expiration Date - Posted Date)
Teacher Project Posted Sequence
```

In [55]:
df.columns

Index(['Project ID', 'School ID', 'Teacher ID',
       'Teacher Project Posted Sequence', 'Project Type', 'Project Title',
       'Project Essay', 'Project Short Description', 'Project Need Statement',
       'Project Subject Category Tree', 'Project Subject Subcategory Tree',
       'Project Grade Level Category', 'Project Resource Category',
       'Project Cost', 'Project Posted Date', 'Project Expiration Date',
       'Project Current Status', 'Project Fully Funded Date'],
      dtype='object')

In [56]:
import re
regex_sanitize = re.compile(r"(<!--DONOTREMOVEESSAYDIVIDER-->)")
df_1618['Project Essay Cleaned'] = df_1618['Project Essay'].str.replace(regex_sanitize, '')

In [58]:
df_1618['X_essay_len'] = df_1618['Project Essay Cleaned'].str.len()

In [63]:
df_1618['X_essay_?!'] = df_1618['Project Essay Cleaned'].str.count('\\?') + df_1618['Project Essay Cleaned'].str.count('\\!')

In [64]:
df_1618['X_essay_?!'].unique()

array([ 0,  1,  4,  2,  5,  8,  3,  7, 10,  6,  9, 12, 14, 11, 21, 13, 22,
       15, 25, 24, 16, 18, 20, 19, 17, 23, 26, 29, 31, 32, 30])

In [66]:
english_numbers = ["One", "Two", "Three", "Four", "Five", \
                   "Six", "Seven", "Eight", "Nine", "Ten", \
                   "Eleven", "Twelve", "Thirteen", "Fourteen", "Fifteen", \
                   "Sixteen", "Seventeen", "Eighteen", "Nineteen", "Twenty", \
                   "Thirty", "Forty", "Fifty", "Sixty", "Seventy", "Eighty", "Ninety", \
                   "Thousand", "Million", "Billion"]

In [78]:
regex_numbers = re.compile("(\d|(" + "|".join(map(re.escape, english_numbers)) + "))")

In [79]:
df_1618['X_essay_numbers'] = df_1618['Project Essay Cleaned'].str.count(regex_numbers)

In [81]:
df_1618['X_essay_numbers'][0:20]

0     1
1     0
2     0
3     0
4     4
5     9
6     8
7     4
8     5
9     4
10    5
11    8
12    3
13    3
14    0
15    2
16    9
17    3
18    0
19    5
Name: X_essay_numbers, dtype: int64

In [82]:
# df_1618.to_pickle("./projects_16_18_with_essay_features.pkl")

In [3]:
# df_1618 = pd.read_pickle("./projects_16_18_essay_features.pkl")

In [4]:
df_1618_features_only = df_1618.filter(['X_essay_len', 'X_essay_?!', 'X_essay_numbers'], axis=1)

In [5]:
df_1618_features_only.to_pickle("./projects_16_18_essay_features_only.pkl")